<div class="row">
    <div class="col">
        <app-prestamo-list [prestamoSelected] = "prestamo" (outputFromChild) = "receiveChildData($event)"></app-prestamo-list>

    </div>
    <div class="col">
        <div class="card col-md-5">
            <div class="card-title">Cabecera</div>
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <input type="date" name="fechaPrestamo" [(ngModel)]="prestamo.fechaPrestamo" id="Nombre"
                            placeholder="Fecha Prestamo" (ngModelChange)="prestamo.fechaPrestamo = $event">
                    </div>
                    <div class="form-group">
                        <input type="text" name="descripcionPrestamo" [(ngModel)]="prestamo.descripcionPrestamo" id="descripcionPrestamo"
                            placeholder="Descripcion de Prestamo">
                    </div>

                    <button class="btn btn-success btn-block" (click)="updatePrestamo()">
                        Update
                    </button>
                    <button class="btn btn-success btn-block" (click)="saveNewPrestamo()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
        <app-detalle-prestamo-form  [detallesPrestamo] = "prestamo.detallesPrestamo" (outputFromChild) = "receiveChildDataDetalles($event)"></app-detalle-prestamo-form>
    </div>
    
</div>